<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DC_Software_Center.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="AuthenticationPassword" value=""/>
    <add key="AuthenticationUsername" value=""/>
    <add key="AuthenticationRequired" value="False"/>
    <add key="PackageListDownloadLink" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <DC_Software_Center.My.MySettings>
      <setting name="AuthenticationPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthenticationUsername" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthenticationRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckUpdates" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutomaticUpdateMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CheckUpdatesOnMeteredWifi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadUpdatesOnMeteredWifi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoNotRemindForDeferredUpdates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteFilesAfterInstall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsAutoStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormSizeUpdater" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormLocationUpdater" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormLocationSettings" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="UnselectedPackages" serializeAs="String">
        <value>Legacy~Software Center</value>
      </setting>
      <setting name="ShownNotifications" serializeAs="String">
        <value/>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WhatsNewUrl" serializeAs="String">
        <value>https://www.acuitybrands.com/-/media/abl/distechcontrols/files/landing-pages/web_content_whatsnew.pdf?la=en&amp;hash=4774fa91480c595d7711067e1e4ad1a5&amp;forcebehavior=open</value>
      </setting>
      <setting name="PackageListDownloadLink" serializeAs="String">
        <value>http://distech-controls-corporate.com/softwarecenter/info/PackageList.3.2.pkl</value>
      </setting>
      <setting name="EulaDownloadLink" serializeAs="String">
        <value>https://www.acuitybrands.com/-/media/abl/acuitybrands/images/support/customer-support/terms-and-conditions/acuity-software-eula.pdf</value>
      </setting>
    </DC_Software_Center.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
